/* You can add global styles to this file, and also import other style files */
.mouse-hover {
  cursor: pointer;
}

form label {
  text-transform: uppercase;
  color: grey;
}

form input {
  font-weight: 500;
}

form input ::placeholder {
  color: #c0bdbd;
  font-weight: 300;
}
form.submitted input.ng-invalid {
  border-color: red;
}

.required {
  font-size: large;
  color: red;
}

.btn-space {
  margin-right: 5px;
}

.label-space {
  margin-right: 5px;
}

.h3 {
  color: black;
  font-size: large;
}
.p-info {
  color: blue;
  font-weight: 200;
  font-size: large;
}
